<ion-view view-title="详情" ng-controller="CountDetailCtrl">

    <ion-content>

        <div class="list card">
            <div class="item">
                日期：{{payDetail.PayDay}}
            </div>
            <div class="item">
                类别：{{payDetail.PayType}}
            </div>
            <div class="item">
                支出：{{payDetail.PayOut}}
            </div>
            <div class="item">
                记账日期：{{payDetail.InDateTime}}
            </div>
            <div class="item">
                备注：{{payDetail.Remark}}
            </div>
        </div>

    </ion-content>
</ion-view>
