<ion-view view-title="明细" ng-controller="CountListCtrl">

    <div style="position: fixed; top: 43px;left:0px; z-index: 1; width: 100%;" on-hold="deleteAllPays()">
        <div class="row">
            <div class="col" style="margin-left:35px;"><i class="ion-ios-calendar-outline"></i> 日期</div>
            <div class="col" style="margin-left:-35px;"><i class="ion-ios-pricetags-outline"></i> 类别</div>
            <div class="col" style="margin-left:-35px;"><i class="ion-card"></i> 支出</div>
        </div>
    </div>

    <ion-content style="margin-top:40px;">

        <ion-list>

            <ion-item class="item-remove-animate item-icon-right" ng-repeat="pay in payList" type="item-text-wrap" href="#/tab/countdetail/{{pay}}">
                <div class="row">
                    <div class="col text-center">{{pay.PayDay}}</div>
                    <div class="col text-center">{{pay.PayType}}</div>
                    <div class="col text-center">{{pay.PayOut}}</div>
                </div>

                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="deletePayById(pay.Id)">
                    删除
                </ion-option-button>
            </ion-item>
            <!--<ion-item class="item-remove-animate item-icon-right" ng-repeat="i in [{'PayOut':30,'PayType':'服装'},{'PayOut':30,'PayType':'服装'}]" href="#/tab/countdetail/{{i}}">
                <div class="row">
                    <div class="col">2015-10-20</div>
                    <div class="col">餐饮餐饮餐</div>
                    <div class="col">1002312.0</div>
                </div>

                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    删除
                </ion-option-button>
            </ion-item>-->

        </ion-list>

    </ion-content>
</ion-view>
