<ion-view view-title="Note">
    <ion-content>
        <ion-list>
            <div class="list">
                <label class="item item-input">
                    日期：<input type="text" placeholder="哪天花的钱？" ng-click="pickDate()" ng-model="baseObj.payDate">
                </label>
                <label class="item item-input">
                    支出：<input type="number" placeholder="花了多少？" ng-model="baseObj.payOut">
                </label>

                <label class="item" style="border-bottom-width:0px;">
                    <p on-hold="hideUtil_payTypeOnHold()">类别：</p>
                </label>
                <div style="width:100%;max-height:220px;padding-left:20px;padding-bottom:20px;overflow-y:auto;">
                    <button class="button payType" ng-repeat="t in payTypes track by $index" ng-class="{true: 'payTypeSelect', false: ''}[baseObj.selectIndex==t.Id]" ng-click="payTypeSelect(t.Id)" on-hold="payTypeOnHold(t.Id,t.Name)">
                        <h6>{{t.Name}}</h6>
                    </button>
                </div>
                <label class="item item-input">
                    备注：<textarea placeholder="备注下，看得更明白..." ng-model="baseObj.remark"></textarea>
                </label>
            </div>

            <button class="button button-block button-positive" ng-click="insertACost()">确定</button>

        </ion-list>



    </ion-content>
</ion-view>
