<ion-view view-title="123Account">
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="settings.enableFriends">
                Enable Friends
            </ion-toggle>
        </ion-list>
        <div>
            <p style="color:red">test</p>

            <button class="button" ng-click="showPopup()">showPopup</button>
            <input type="date" />
            <input type="number" />
            <input type="search" ng-click="showConfirm()" value="showConfirm" />

            <div class="button-bar">
                <a class="button">First</a>
                <a class="button">Second</a>
                <a class="button">Third</a>
            </div>

            <div class="bar bar-header">
                <button class="button button-icon icon ion-navicon"></button>
                <div class="h1 title">Header Buttons</div>
                <button class="button button-clear button-positive">Edit</button>
            </div>

            <div class="bar bar-header">
                <button class="button icon ion-navicon"></button>
                <h1 class="title">Header Buttons</h1>
                <button class="button">Edit</button>
            </div>

            <button class="button">
                <i class="icon ion-loading-c"></i> Loading...
            </button>

            <button class="button icon-left ion-home">Home</button>

            <button class="button icon-left ion-star button-positive">Favorites</button>

            <a class="button icon-right ion-chevron-right button-calm">Learn More</a>

            <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

            <button class="button icon ion-gear-a"></button>

            <a class="button button-icon icon ion-settings"></a>

            <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>

            <button class="button button-clear button-positive">
                Clear Button
            </button>

            <button class="button button-outline button-positive">
                Outlined Button
            </button>

            <button class="button button-small button-assertive">
                Small Button
            </button>
            <button class="button button-large button-positive">
                Large Button
            </button>

            <button class="button button-full button-positive">
                Full Width Block Button
            </button>

            <button class="button button-block button-positive">
                Block Button
            </button>

            <button class="button">
                Default
            </button>

            <button class="button button-light">
                button-light
            </button>

            <button class="button button-stable">
                button-stable
            </button>

            <button class="button button-positive">
                button-positive
            </button>

            <button class="button button-calm">
                button-calm
            </button>

            <button class="button button-balanced">
                button-balanced
            </button>

            <button class="button button-energized">
                button-energized
            </button>

            <button class="button button-assertive">
                button-assertive
            </button>

            <button class="button button-royal">
                button-royal
            </button>

            <button class="button button-dark">
                button-dark
            </button>

            <div class="row">
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
                <div class="col">.col</div>
            </div>

            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password">
                </label>
            </div>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="John">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Suhr">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="john@suhr.com">
            </label>
        </div>

        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email">
            </label>
        </div>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
        </div>

        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Email">
                </label>
                <button class="button button-small">
                    Submit
                </button>
            </div>

        </div>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>

        <label class="toggle">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
        <ul class="list">

            <li class="item item-toggle">
                HTML5
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

        </ul>
        <div class="tabs">
            <a class="tab-item">
                Home
            </a>
            <a class="tab-item">
                Favorites
            </a>
            <a class="tab-item">
                Settings
            </a>
        </div>
    </ion-content>
</ion-view>
